* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
}

span {
    font-weight: 300;
    color: hotpink;
}

/*START header*/
header {
    position: relative;
    height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(../img/mountains_1280x640.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*    background-position: 100% 100%;*/
    color: white;

}

header > * {
    position: absolute;
}

.header {
    top: 18%;
    left: 20px;
}

h2.welcome {
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

h1.developer {
    font-size: 33px;
}

@media (orientation: portrait) and (min-width: 360px) {
    .header {
        top: 15%;
    }

    h2.welcome {
        font-size: 32px;
    }

    h1.developer {
        font-size: 38px;
    }
}

@media (orientation: portrait) and (min-width: 410px) {
    h2.welcome {
        font-size: 34px;
    }

    h1.developer {
        font-size: 44px;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    .header {
        left: 40px;
    }

    h2.welcome {
        font-size: 52px;
        padding-bottom: 30px;
    }

    h1.developer {
        font-size: 65px;
    }
}

@media (orientation: landscape) {
    .header {
        top: 14%;
    }
}

@media (orientation: landscape) and (min-width:1024px) {

    .header {
        top: 9%;
        left: 40px;
    }

    h2.welcome {
        font-size: 72px;
        padding-bottom: 20px;
    }

    h1.developer {
        font-size: 68px;
    }
}

/*
@media (orientation: landscape) and (min-width:1280px) {
    .header {
        top: 9%;
    }
}*/

h1.main-title {
    font-size: 30px;
    text-transform: uppercase;
    padding: -bottom: 15px;
}

h2.second-title {
    font-size: 24px;
    text-transform: uppercase;
}


/*START section.skills*/

section.skills {
    margin-top: 20px;
    padding: 5%;
    text-align: center;
    /*    background-color: rgb(229, 189, 187);*/
}

section.skills img {
    width: 100%;
    margin: 5px 0;
    /*    max-width: 375px;*/
}

section.skills p.description {
    margin-top: 15px;
}

@media (min-width: 768px) {
    h1.main-title {
        font-size: 50px;
    }

    h2.second-title {
        font-size: 38px;
    }

    section.skills p.description {
        font-size: 26px;
    }
}

@media (min-width: 1024px) {
    section.skills div.feature {
        float: left;
        width: 33%;
        padding: 12px;
    }

}

/*START section.project*/
.projects {
    padding: 10px 0 30px;
    background-color: rgb(255, 193, 193);
    color: white;
}

.projects .projectdescription {
    padding: 0 20px;
}

.projects h1.main-title {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.projects h2.second-title {
    margin-bottom: 12px;
    padding-bottom: 6px;
    padding-top: 10px;
    padding-left: 0;
    border-bottom: 2px solid white;
    text-indent: 20px;
    font-size: 23px;
}

.projects .projectimg img {
    width: 100%;
}

.projects .project {
    background-color: rgba(161, 167, 201, 0.5);
    max-width: 1400px;
    margin: 0 auto 20px;
}

@media (orientation:landscape) and (min-width: 640px) {

    .projectimg,
    .projectdescription {
        width: 50%;
        float: left;
    }

    .projectimg {
        display: block;
    }

    .projects .project:nth-of-type(even) .projectimg {
        float: right;
        /*        background-size: cover;*/
    }

    .projects .project:nth-of-type(even) .projectdescription {
        padding-right: 0;
    }

    .projects .project:nth-of-type(even) .projectdescription p {
        padding-right: 20px;
    }

    .projects .project:nth-of-type(even) .projectdescription h2 {
        text-indent: 0;
        margin-left: 40px;
    }
}

@media (min-width: 768px) {
    .projects h1 {
        font-size: 40px;
    }

    .projects .projectdescription h2 {
        font-size: 28px;
        text-indent: 40px;
    }

    .projects .projectdescription p {
        font-size: 18px;
        padding-left: 40px;
    }

    .projects .project {
        margin-bottom: 40px;
    }
}
