* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
}

span {
    font-weight: 300;
    color: hotpink;
}

/*START header*/
header {
    position: relative;
    height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(../img/mountains_1280x640.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*    background-position: 100% 100%;*/
    color: white;

}

header > * {
    position: absolute;
}

.header {
    top: 18%;
    left: 20px;
}

h2.welcome {
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

h1.developer {
    font-size: 33px;
}

@media (orientation: portrait) and (min-width: 360px) {
    .header {
        top: 15%;
    }

    h2.welcome {
        font-size: 32px;
    }

    h1.developer {
        font-size: 38px;
    }
}

@media (orientation: portrait) and (min-width: 410px) {
    h2.welcome {
        font-size: 34px;
    }

    h1.developer {
        font-size: 44px;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    .header {
        left: 40px;
    }

    h2.welcome {
        font-size: 52px;
        padding-bottom: 30px;
    }

    h1.developer {
        font-size: 65px;
    }
}

@media (orientation: landscape) {
    .header {
        top: 14%;
    }
}

@media (orientation: landscape) and (min-width:1024px) {

    .header {
        top: 9%;
        left: 40px;
    }

    h2.welcome {
        font-size: 72px;
        padding-bottom: 20px;
    }

    h1.developer {
        font-size: 68px;
    }
}

/*
@media (orientation: landscape) and (min-width:1280px) {
    .header {
        top: 9%;
    }
}*/

h1.main-title {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

h2.second-title {
    font-size: 24px;
    text-transform: uppercase;
}


/*START section.skills*/

section.skills {
    margin-top: 20px;
    padding: 5%;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
}

section.skills img {
    width: 100%;
    margin: 5px 0;
    /*    max-width: 375px;*/
}

section.skills p.description {
    margin-top: 15px;
}

@media (min-width: 768px) {
    h1.main-title {
        font-size: 50px;
    }

    h2.second-title {
        font-size: 38px;
    }

    section.skills p.description {
        font-size: 26px;
    }
}

@media (min-width: 1024px) {
    section.skills div.feature {
        float: left;
        width: 33%;
        padding: 12px;
    }

}

/*START section.project*/
.projects {
    padding: 10px 0 30px;
    background-color: rgb(255, 193, 193);
    color: white;
    max-width: 1600px;
    margin: 0 auto;
}

.projects h1.main-title {
    padding: 20px 15px;
    text-align: center;
}

.projects .project {
    background-color: rgba(161, 167, 201, 0.5);
    max-width: 1400px;
    margin: 0 auto 20px;
}

.projects .projectimg img {
    width: 100%;
}

.projects .projectdescription {
    text-align: left;
    padding: 10px 20px 20px 0px;
}

.projects h2.second-title {
    margin-bottom: 12px;
    padding-bottom: 6px;
    border-bottom: 2px solid white;
    text-indent: 20px;
    font-size: 23px;
}

.projects .projectdescription p {
    padding-left: 20px;
}


@media (orientation:landscape) and (min-width: 640px) {

    .projectimg,
    .projectdescription {
        width: 50%;
        float: left;
    }

    .projectimg img {
        display: block;
    }

    .projects .project:nth-of-type(even) .projectimg {
        float: right;
    }

    .projects .project:nth-of-type(even) .projectdescription {
        padding-right: 0;
    }

    .projects .project:nth-of-type(even) .projectdescription p {
        padding-right: 20px;
    }

    .projects .project:nth-of-type(even) .projectdescription h2 {
        text-indent: 0;
        margin-left: 40px;
    }
}

@media (min-width: 768px) {
    .projects h1 {
        font-size: 40px;
    }

    .projects .projectdescription h2 {
        font-size: 28px;
        text-indent: 40px;
    }

    .projects .projectdescription p {
        font-size: 18px;
        padding-left: 40px;
    }

    .projects .project {
        margin-bottom: 40px;
    }
}

@media (orientation:landscape) and (min-width: 1024px) {
    .projects {
        padding: 10px 40px 40px;
    }

    .projects .projectdescription p {
        font-size: 22px;
    }

}

@media (min-width: 1279px) {
    .projects .projectdescription h2 {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .projects .projectdescription p {
        font-size: 28px;
    }

}

/*START section.motto*/
section.motto {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../img/volcanoes1920x1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
    background-attachment: fixed;
}

.motto .moto {
    padding: 30px 10px;
    background-color: rgba(0, 63, 114, 0.5);
}

.motto p {
    font-size: 18px;
}

.motto p.author {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 50px;
}

@media (orientation: landscape) {
    .motto p {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:768px) {
    .motto h1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .motto p {
        font-size: 24px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .motto p.author {
        font-size: 18px;
    }

}

@media (min-width:1024px) {
    .motto .moto {
        height: 70vh;
    }

    .motto h1 {
        font-size: 60px;
    }

    .motto p {
        font-size: 28px;
    }
}

/*START section.hobby*/
section.hobby {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

.hobby h1.main-title {
    padding: 20px 15px;
}

.hobby .item {
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1) {
    background-image: url(../img/snowboarder640x480.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(../img/hobby1640x480.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../img/old-books640x480.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../img/camera640.jpg);
}

.hobby .item p {
    color: white;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 640px) {
    .hobby .item {
        float: left;
        width: 50%;
    }

    .hobby .item p {
        line-height: 28px;
    }
}

@media (min-width: 768px) {
    .hobby .item p {
        font-size: 30px;
        padding: 15px 0;
    }
}

@media (min-width: 1024px) {
    .hobby .item {
        height: 50vh;
        background-size: 100%;
        transition: 0.7s;
    }

    .hobby .item p {
        padding: 0;
        line-height: 50vh;
        opacity: 0;
        transition: 0.7s;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item:hover {
        background-size: 130%;
    }
}

/*START section.contact*/
.contact {
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px 20px 30px;
    background-color: #4c4c67;
    color: white;
}

.contact h1 {
    margin-top: 15px;
    text-align: center;
}

.contact .wrapper {
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.contact input,
.contact textarea,
.contact button {
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
    border-radius: 8px;
}

.contact input {
    height: 36px;
    padding: 5px;
}

.contact textarea {
    height: 120px;
}

.contact button {
    font-size: 14px;
    line-height: 40px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.4s;
}

.contact .social {
    text-align: center;
    padding-bottom: 5px;
}

.contact .social p {
    padding-left: 10px;
    font-size: 21px;
}

.contact .socials .fab {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: white;
}

@media (min-width: 533px) {
    .contact button {
        font-size: 18px;
    }

    .contact .socials {
        text-align: center;
    }

    .contact .social {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .contact {
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media (min-width: 1024px) {

    .contact form,
    .contact .socials {
        float: left;
        width: 50%;
        padding: 0 20px;
    }

    .contact .social {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .contact .fab {
        transition: all 0.4s;
    }

    .contact .fab:hover {
        background-color: white;
        color: #4c4c67;
        transform: rotate(180deg);
    }

    .contact button:hover {
        background-color: white;
        color: #4c4c67;
    }

}

/*START footer*/
footer {
    max-width: 1600px;
    margin: 0 auto;
    text-align: right;
    background-color: #434362;
    color: aliceblue;
    padding: 15px;
}
